<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Some Projects</h2>
    <i class="fa fa-code-fork" style="color:#fff;" aria-hidden="true"></i>  
    <p>My most up-to-date project list will be on Github, so I think it's best to link that specific repository <a href="https://github.com/adam-bozman/hypothetical-sabbatical" target="_blank">here</a>.</a></p>
  </div>  
  <div class="tech">
    <h2>My CV</h2>
    <i class="fa {color: blue;} fa-file-word-o" aria-hidden="true"></i>
    <p>If you're so inclined, you can download my CV, <a href="https://drive.google.com/file/d/1bGbv092mUqDQ6aj0h-aqHvKqQdliXXmj/view?usp=sharing" target="_blank">here</a>.</p>
  </div>
  <div class="tech">
    <h2>Some Interests</h2>
    <i class="fa {color: black;} fa-motorcycle" aria-hidden="true"></i>
    <p>Outside of the classroom, my interests are mostly outdoors, and I do my best to keep a log of these <a href="https://medium.com/@bozmanadam" target="_blank">here</a>.</p>
  </div>
</div>
