<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <div style="color: white;"></div>
          <a aria-label="Send email" href="mailto:adam.bozman@wsu.edu"><i class="fa-solid fa-square-envelope fa-4x"></i></a>
          <a aria-label="My Twitter" target="_blank" href="https://www.twitter.com/adam_bozman"><i class="fa-brands fa-twitter fa-4x" aria-hidden="true"></i></a>
          <a aria-label="My Medium" target="_blank" href="https://www.medium.com/@bozmanadam"><i class="fa-brands fa-medium fa-3x " aria-hidden="true"></i></a>
          <a aria-label="My Kaggle" target="_blank" href="https://www.kaggle.com/adambozman"><i class="fa-brands fa-kaggle fa-4x " aria-hidden="true"></i></a>
          <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/adam-bozman-65218b73"><i class="fa-brands fa-linkedin-square fa-4x" aria-hidden="true"></i></a>
          <a aria-label="My Github" target="_blank" href="https://github.com/adam-bozman"><i class="fa-brands fa-github-alt fa-4x" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#skills" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
