<div class="user-details">
  <h1>My Skills</h1>
</div>
<style type="text/css">
  .chartBox {
    width: 900px;
    height: 900px
  }
</style>
<div class="chartBox">
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labels = [
    'Python',
    'SAS',
    'GitHub',
    'Sleep',
    'Machine Learning',
    'R',
    'WRDS',
  ];

  const data = {
    labels: labels,
    datasets: [{
      backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 99, 132)',
      'rgb(75, 192, 192)',
      'rgb(255, 205, 86)',
      'rgb(25, 140, 255)',
      'rgb(201, 203, 207)',
      'rgb(54, 162, 235)'
    ],
      data: [85, 100, 75, 100, 95, 85, 90],
    }]
  };

  const config = {
    type: 'polarArea',
    data: data,
    options: {
      scale: {
        responsive: true,
        ticks: {min: 0, max: 100}
      },
      legend: {display: false},
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
