<div class="user-details">
  <h1>My Skills</h1>
</div>

<style type="text/css">
  .myChart-container {
    width: 550px;
    margin: 0 auto
  }
</style>

<div class="myChart-container" style="position: relative">
  <canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  const labels = [
    'Python',
    'SAS',
    'GitHub',
    'Sleep',
    'WRDS',
    'R',
    'Machine Learning',
  ];

  const data = {
    labels: labels,
    datasets: [{
      backgroundColor: [
      'rgb(255, 99, 132)',
      'rgb(102, 255, 102)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)',
      'rgb(255, 238, 153)',
      'rgb(217, 25, 255)',
      'rgb(54, 162, 235)'
    ],
      data: [86, 95, 64, 45, 88, 92, 70],
    }]
  };

  const config = {
    type: 'radar',
    data: data,
    options: {
      scale: {
        responsive: true,
        ticks: {min: 0, max: 100}
      },
      legend: {display: false},
    }
  };
</script>
<script>
  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>
