<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/konpa/devicon@df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/helpers.esm.min.js" integrity="sha512-urWBnIv+F027G24xDNigjxvIuwnWlWy94W2yx77VkISKLzKSohOKOubMDhtEF6LZcEH7gctmNSpxDqIW/zMmUg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="skills">
        {% include skills.html %}
      </section>
      <section id="about">
        {% include about.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
</html>
